html,
body,
iframe,
#__layout,
#__nuxt {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Arial, sans-serif;
}

* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #fff;
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @primary-color;
  }
}

.ant-table-body {
  &::-webkit-scrollbar-thumb {
    background-color: @disabled-color;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity, transform 0.15s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 6px 15px;
}

.verify-code {
  .ant-input-group .ant-input {
    border-radius: @border-radius-base;
  }

  .ant-input-group-addon {
    border: none;
    padding: 0 0 0 10px;
    background-color: transparent;

    > button {
      border: none !important;
    }
  }
}

.ant-table-pagination.ant-pagination {
  margin-right: 16px;
}

.bg-white {
  background-color: #fff !important;
}

.pl-20 {
  padding-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}
